

#logo {
    background-color: turquoise;
    font-size: 20px;
    padding: 10px;
    float: left;
    margin-left: 200px;
}

.contact-section {
    float: right;
    padding: 30px;
    border: 1px solid gray;
    background-color: white;
    margin-top: 25px;

}


nav {
    float: right;
    padding: 10px;
    word-spacing: 30px;
    margin-right: 115px;
}

img {
    padding: 20px;
    margin-left: 50px;
}

h1 {
    clear:both;
    padding: 10px;
    color: turquoise;
}

div {
    
}

.main-section {
    clear: both;
    width: 300px;
    margin-left: 200px;
    background-color: white;
    float: left;
    border: 1px solid gray;
    margin-bottom: 25px;
    margin-top: 25px;
}

body {
    background-color: lightcyan;
}



footer {
    clear: both;
    text-align: center;
    background-color: gray;
    color: white;
    padding: 20px;
    border-top: 10px solid turquoise;
}

@media screen and (max-width: 980px) {
    .contact-section {
        margin-right: 125px;
        
    }
}

@media only screen and (max-width: 768px) {
    #logo {
        margin-left: 50px;
    }
    
    .main-section {
        width: 650px;
        margin-left: 50px;
    }
    
    .contact-section {
        float: left;
        margin-left: 50px;
        width: 590px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    img {
        padding: 5;
        margin-left: 0;
        float: left;
    }

    
}

@media only screen and (max-width: 640px) {
    #logo {
        margin-left: 50px;
    }
    
    .main-section {
        width: 500px;
        margin-left: 50px;
    }
    
    .contact-section {
        float: left;
        margin-left: 50px;
        width: 440px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #text {
        clear: both;
    }

    #img {
        margin-left: 150px;
    }

    nav {
        clear: both;
        padding: 10px;
        float: left;
        word-spacing: 150px;
        border-bottom: 1px solid gray;
        background-color: white;
        width: 570px;
        text-align: center;
    }
 
    #logo {
        margin: 0;
        margin-left: 0;
        padding: 20px;
        width: 550px;
        text-align: center;
    }
}
